@charset "UTF-8";
main {
  margin: 65px 0 100px 0;
  padding: 20px 0;
  width: 100%;
}
main .logoP {
  display: block;
  color: #e0e0e0;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-family: "Libre Bodoni", serif;
}
main .logoP span {
  width: 32px;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
  transform: translateY(0%);
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
main .logoP span:nth-child(4) {
  width: 18px;
}
main .logoP span:nth-child(6) {
  width: 8px;
}
@-webkit-keyframes logoSpan {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  55% {
    transform: translateY(-6%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes logoSpan {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  55% {
    transform: translateY(-6%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
main section.sec1 {
  width: 100%;
  position: relative;
  background: #004438;
}
main section.sec1 div.container {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}
main section.sec1 div.container h2 {
  height: 52px;
  width: 100%;
  border-bottom: 2px solid #FFFFFF;
  margin: 62px 0 30px 0;
  padding: 0 0 20px 0;
  text-align: center;
  font-family: "Libre Bodoni", serif;
  font-weight: 200;
  font-size: 26px;
  line-height: 30px;
  color: white;
}
main section.sec1 div.container div.content1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main section.sec1 div.container div.content1 div.ex1 {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
main section.sec1 div.container div.content1 div.ex1 h3 {
  width: 100%;
  display: block;
  border-bottom: rgba(148, 144, 144, 0.6941176471) dashed 1px;
  height: auto;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: white;
  margin-bottom: 30px;
  padding-bottom: 6px;
}
main section.sec1 div.container div.content1 div.ex1 div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main section.sec1 div.container div.content1 div.ex1 div div.p1 {
  width: 190px;
  height: 280px;
  border-radius: 185px 185px 0 0;
  overflow: hidden;
  background: url(../img_sub3/1606372127463_img.jpg) center center/cover;
  transition: 0.2s;
}
main section.sec1 div.container div.content1 div.ex1 div div.p1:hover {
  background: url(../img_sub3/1606369402646_img.jpg) center center/cover;
}
main section.sec1 div.container div.content1 div.ex1 div ul {
  width: 64%;
  padding: 0 5px 0 5px;
}
main section.sec1 div.container div.content1 div.ex1 div ul li {
  padding: 6px 0 0 18px;
  display: flex;
  align-items: flex-start;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: start;
  color: white;
  position: relative;
}
main section.sec1 div.container div.content1 div.ex1 div ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 11px;
  left: -2px;
  background: url("../img_sub3/ico_check_w.png") left top no-repeat;
  background-size: 11px;
}
main section.sec1 div.container div.content1 div.ex2 {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
main section.sec1 div.container div.content1 div.ex2 h3 {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: rgba(148, 144, 144, 0.6941176471) dashed 1px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: white;
  margin-bottom: 30px;
  padding-bottom: 6px;
}
main section.sec1 div.container div.content1 div.ex2 div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main section.sec1 div.container div.content1 div.ex2 div div.p1 {
  width: 190px;
  height: 280px;
  border-radius: 185px 185px 0 0;
  overflow: hidden;
  background: url(../img_sub3/1606369439690_img.jpg) center center/cover;
  transition: 0.2s;
}
main section.sec1 div.container div.content1 div.ex2 div div.p1:hover {
  background: url(../img_sub3/1606369439692_img.jpg) center center/cover;
}
main section.sec1 div.container div.content1 div.ex2 div ul {
  width: 64%;
  padding: 0 5px 0 5px;
}
main section.sec1 div.container div.content1 div.ex2 div ul li {
  padding: 5px 0 0 15px;
  display: flex;
  align-items: flex-start;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: start;
  color: white;
  position: relative;
}
main section.sec1 div.container div.content1 div.ex2 div ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 11px;
  left: -2px;
  background: url("../img_sub3/ico_check_w.png") left top no-repeat;
  background-size: 11px;
}
main section.sec1 div.container p.store {
  height: 30px;
  width: 100%;
  border-bottom: rgba(148, 144, 144, 0.6941176471) dashed 1px;
  margin: 65px 0 30px 0;
  padding: 0 0 20px 0;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: white;
}
main section.sec1 div.container div.content2 {
  width: 100%;
  margin: 0 0 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main section.sec1 div.container div.content2 ul {
  width: 100%;
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main section.sec1 div.container div.content2 ul li {
  width: 33.3%;
  padding: 3px 10px 0 0;
  display: flex;
  flex-direction: row;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: white;
  position: relative;
  margin-bottom: 50px;
}
main section.sec1 div.container div.content2 ul li img {
  width: 75px;
  height: 75px;
}
main section.sec1 div.container div.content2 ul li p {
  text-align: left;
  padding-left: 15px;
  font-size: 13px;
  color: #8ab1aa;
}
main section.sec1 div.container div.content2 ul li p span {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
main section.sec2 {
  width: 100%;
  position: relative;
  background: white;
}
main section.sec2 div.container {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}
main section.sec2 div.container h2 {
  width: 100%;
  border-bottom: 2px solid #004438;
  margin: 62px 0 30px 0;
  padding: 50px 0 20px 0;
  text-align: center;
  font-family: "Libre Bodoni", serif;
  font-weight: lighter;
  font-size: 26px;
  line-height: 30px;
  color: #004438;
}
main section.sec2 div.container div.content1 {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main section.sec2 div.container div.content1 span.line1 {
  position: absolute;
  width: 75%;
  height: 1px;
  background: #8ab1aa;
  top: 70px;
  left: 9vw;
  margin: 0;
  padding: 0;
  z-index: 2;
}
main section.sec2 div.container div.content1 span.line2 {
  position: absolute;
  width: 75%;
  height: 1px;
  background: #8ab1aa;
  top: 70px;
  left: 9vw;
  margin: 0;
  padding: 0;
  z-index: 2;
}
main section.sec2 div.container div.content1 div.pro {
  width: 25%;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section.sec2 div.container div.content1 div.pro div.picture_box {
  width: 80px;
  height: 120px;
  z-index: 3;
}
main section.sec2 div.container div.content1 div.pro div.picture_box img {
  width: 100%;
  height: 100%;
}
main section.sec2 div.container div.content1 div.pro p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  width: 85%;
  border-bottom: 1px dashed #8ab1aa;
  color: #004438;
}
main section.sec2 div.container div.content1 div.pro p span {
  display: block;
  padding: 10px 0;
  font-weight: 100;
}
main section.sec2 div.container div.content1 div.pro ul {
  width: 70%;
}
main section.sec2 div.container div.content1 div.pro ul li {
  color: #004438;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  position: relative;
  width: 100%;
}
main section.sec2 div.container div.content1 div.pro ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 11px;
  left: -20px;
  background: url("../img_sub3/ico_check_g.png") left top no-repeat;
  background-size: 11px;
}
main section.sec2 div.container div.content2 {
  width: 100%;
  height: 328px;
  margin-bottom: 25px;
  border: 1px solid #004438;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
main section.sec2 div.container div.content2 div.keypoint {
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 16px;
  background-color: rgb(0, 68, 56);
  color: rgb(255, 255, 255);
}
main section.sec2 div.container div.content2 ul.li1 {
  width: 240px;
  padding: 25px 10px 0 30px;
  box-sizing: border-box;
}
main section.sec2 div.container div.content2 ul.li1 li {
  width: 100%;
  padding: 3px 0 0 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: normal;
  text-align: left;
  color: #004438;
  position: relative;
  margin-bottom: 30px;
}
main section.sec2 div.container div.content2 ul.li1 li::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 5px;
  left: -6px;
  background: url("../img_sub3/ico_timer.png") left top no-repeat;
  background-size: 18px;
}
main section.sec2 div.container div.content2 ul.li2 {
  padding: 25px 5px 0 5px;
}
main section.sec2 div.container div.content2 ul.li2 li {
  padding: 3px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #004438;
  position: relative;
  margin-bottom: 21px;
}
main section.sec3 {
  width: 100%;
  position: relative;
  background: white;
}
main section.sec3 div.container {
  max-width: 1180px;
  margin: 0 auto;
  align-items: center;
  padding: 0 10px;
}
main section.sec3 div.container h2 {
  width: 100%;
  border-bottom: 2px solid #004438;
  margin: 62px 0 30px 0;
  padding: 50px 0 20px 0;
  text-align: center;
  font-family: "Libre Bodoni", serif;
  font-weight: lighter;
  font-size: 26px;
  line-height: 30px;
  color: #004438;
}
main section.sec3 div.container div.content1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main section.sec3 div.container div.content1 div.box1 {
  width: 48%;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}
main section.sec3 div.container div.content1 div.box1 img {
  width: 100%;
}
main section.sec3 div.container div.content1 div.box1 p {
  border: 1px solid;
  width: 100%;
  padding: 35px 35px;
  margin-top: 40px;
  font-size: 13px;
  word-break: keep-all;
  height: 150px;
}
main section.sec3 div.container div.content1 div.box2 {
  width: 48%;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
}
main section.sec3 div.container div.content1 div.box2 img {
  width: 100%;
}
main section.sec3 div.container div.content1 div.box2 p {
  border: 1px solid;
  width: 100%;
  padding: 35px 30px;
  margin-top: 40px;
  font-size: 13px;
  word-break: keep-all;
  height: 150px;
}
main section.sec4 {
  width: 100%;
  height: auto;
  position: relative;
  background: white;
}
main section.sec4 div.container {
  max-width: 1180px;
  margin: 0 auto;
  align-items: center;
  padding: 0 10px;
}
main section.sec4 div.container h2 {
  width: 100%;
  border-bottom: 2px solid #004438;
  margin: 62px 0 30px 0;
  padding: 50px 0 20px 0;
  text-align: center;
  font-family: "Libre Bodoni", serif;
  font-weight: lighter;
  font-size: 26px;
  line-height: 30px;
  color: #004438;
}
main section.sec4 div.container ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main section.sec4 div.container ul li {
  width: 23.5%;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
main section.sec4 div.container ul li:hover div.green {
  transform: translateX(94%) rotate(150deg);
}
main section.sec4 div.container ul li:hover div.ex {
  opacity: 1;
}
main section.sec4 div.container ul li img {
  width: 100%;
}
main section.sec4 div.container ul li div.green {
  width: 190%;
  height: 190%;
  background: #004438;
  opacity: 0.7;
  position: absolute;
  transform: rotate(150deg);
  top: -10%;
  left: -230%;
  transition: 0.4s;
}
main section.sec4 div.container ul li div.ex {
  width: 100%;
  height: 100%;
  opacity: 0;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15px 10px;
}
main section.sec4 div.container ul li div.ex p {
  font-size: 16px;
  text-align: left;
}
main section.qna {
  width: 100%;
  overflow: auto;
}
main section.qna div.tab_menu {
  position: relative;
  max-width: 1180px;
  margin: 0 auto;
}
main section.qna div.tab_menu ul.list {
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 14px;
}
main section.qna div.tab_menu ul.list li {
  float: left;
  border-right: 1px solid;
  padding: 0 5px;
}
main section.qna div.tab_menu ul.list li:nth-child(3) {
  border-right: none;
}
main section.qna div.tab_menu ul.list li a.btn {
  font-size: 16px;
  margin: 0 10px;
  color: black;
}
main section.qna div.tab_menu ul.list li.is_on .btn {
  font-weight: bold;
  margin: 0 10px;
  color: black;
}
main section.qna div.tab_menu div.container {
  max-width: 1180px;
  margin: 0 auto;
  align-items: center;
  padding: 0 10px;
  display: none;
}
main section.qna div.tab_menu div.container h2 {
  width: 100%;
  border-bottom: 2px solid #004438;
  margin-top: 62px;
  padding: 50px 0 20px 0;
  text-align: center;
  font-family: "Libre Bodoni", serif;
  font-weight: lighter;
  font-size: 26px;
  line-height: 30px;
  color: #004438;
}
main section.qna div.tab_menu div.container .accordion {
  background-color: #ffffff;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  outline: none;
  border: none;
  text-align: left;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  transition: 0.4s;
  position: relative;
  padding-left: 50px;
  border-bottom: 1px solid #004438;
}
main section.qna div.tab_menu div.container .active, main section.qna div.tab_menu div.container .accordion:hover {
  font-weight: bold;
}
main section.qna div.tab_menu div.container .accordion::before {
  content: "Q";
  font-weight: bold;
  float: right;
  margin-left: 5px;
  position: absolute;
  top: 16px;
  left: 10px;
  font-family: "Libre Bodoni";
}
main section.qna div.tab_menu div.container .accordion:after {
  content: "+";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
main section.qna div.tab_menu div.container .active:after {
  content: "−";
}
main section.qna div.tab_menu div.container .active {
  border-bottom: 1px dashed #004438;
}
main section.qna div.tab_menu div.container .panel {
  padding: 0 16px;
  background-color: #ffffff;
  overflow: hidden;
  border-bottom: 1px solid #004438;
  display: none;
}
main section.qna div.tab_menu div.container .panel p {
  font-size: 14px;
  padding: 20px 0;
  line-height: 25px;
  padding-left: 35px;
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}
main section.qna div.tab_menu div.container .panel p::before {
  content: "A";
  font-weight: bold;
  float: right;
  position: absolute;
  top: 20px;
  left: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}

.newspop {
  display: block;
  background: rgba(0, 68, 56, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding-top: 35px;
}
.newspop .con {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 600px;
  margin: 60px auto;
}
.newspop .con .newsexit {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 15px 0;
  filter: invert(30%);
}
.newspop .con .newsexit:hover {
  filter: invert(0%);
  filter: brightness(200%);
}
.newspop .con .wrap {
  width: 600px;
  height: 600px;
  position: relative;
}
.newspop .con .wrap img {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.newspop .con .wrap .newsnext {
  width: 24px;
  height: 32px;
  cursor: pointer;
  opacity: 1;
  transition: 1s;
  margin: 15px 0;
  opacity: 0.6;
  position: absolute;
  top: 45%;
  right: -10%;
  filter: invert(30%);
}
.newspop .con .wrap .newsnext:hover {
  filter: invert(0%);
  filter: brightness(200%);
}
.newspop .con .wrap .newsprev {
  width: 24px;
  height: 32px;
  cursor: pointer;
  opacity: 1;
  transition: 1s;
  margin: 15px 0;
  opacity: 0.6;
  position: absolute;
  top: 45%;
  left: -10%;
  filter: invert(30%);
}
.newspop .con .wrap .newsprev:hover {
  filter: invert(0%);
  filter: brightness(200%);
}
.newspop .con p {
  width: 100%;
  margin: 10px 0;
  color: #8ab1aa;
  font-size: 14px;
  line-height: 180%;
}
.newspop .con p span {
  display: block;
  font-size: 15px;
  color: #fff;
}

.is_off {
  display: none;
}

@media (min-width: 767px) and (max-width: 1200px) {
  main .logoP {
    font-size: 40px;
  }
  main .logoP span {
    width: 30px;
  }
  main .logoP span:nth-child(4) {
    width: 18px;
  }
  main .logoP span:nth-child(6) {
    width: 8px;
  }
  main .logoP span:nth-child(9) {
    width: 18px;
  }
  main section.sec1 div.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
  }
  main section.sec1 div.container h2 {
    font-size: 26px;
  }
  main section.sec1 div.container div.content1 div.ex1 h3 {
    font-size: 16px;
  }
  main section.sec1 div.container div.content1 div.ex1 div div.p1 {
    width: 35%;
    height: 26vw;
  }
  main section.sec1 div.container div.content1 div.ex2 h3 {
    font-size: 16px;
  }
  main section.sec1 div.container div.content1 div.ex2 div div.p1 {
    width: 35%;
    height: 26vw;
  }
  main section.sec1 div.container div.content2 ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section.sec1 div.container div.content2 ul li p {
    text-align: center;
    padding-left: 0;
  }
  main section.sec2 div.container div.content1 div.pro p {
    font-size: 14px;
    line-height: 15px;
  }
  main section.sec2 div.container div.content1 div.pro p span {
    font-weight: 100;
    font-size: 12px;
  }
  main section.sec2 div.container div.content1 div.pro ul li {
    font-size: 11px;
  }
  main section.sec2 div.container div.content2 {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  main section.sec2 div.container div.content2 div.keypoint {
    width: 100%;
    line-height: 35px;
  }
  main section.sec2 div.container div.content2 ul.li1 {
    width: 100%;
    padding: 10px 10px 0 10px;
  }
  main section.sec2 div.container div.content2 ul.li1 li {
    width: 100%;
    padding: 1px 0 0 30px;
    margin-bottom: 10px;
  }
  main section.sec2 div.container div.content2 ul.li2 li {
    font-size: 13px;
    margin-bottom: 15px;
  }
  main section.sec3 div.container {
    max-width: 1180px;
    margin: 0 auto;
    align-items: center;
    padding: 0 10px;
  }
  main section.sec3 div.container div.content1 div.box1 p {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 0 1.7vw;
  }
  main section.sec3 div.container div.content1 div.box2 p {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 0 1.7vw;
  }
}
@media screen and (max-width: 767px) {
  main .logoP {
    font-size: 28px;
  }
  main .logoP span {
    width: 22px;
  }
  main .logoP span:nth-child(4) {
    width: 12px;
  }
  main .logoP span:nth-child(9) {
    width: 12px;
  }
  main section.sec1 div.container h2 {
    font-size: 23px;
  }
  main section.sec1 div.container div.content1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  main section.sec1 div.container div.content1 div.ex1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
  main section.sec1 div.container div.content1 div.ex1 h3 {
    width: 100%;
    display: block;
    border-bottom: rgba(148, 144, 144, 0.6941176471) dashed 1px;
    height: auto;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.4px;
    color: white;
    margin-bottom: 30px;
  }
  main section.sec1 div.container div.content1 div.ex1 div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  main section.sec1 div.container div.content1 div.ex1 div div.p1 {
    width: 35%;
    height: 50vw;
    border-radius: 185px 185px 0 0;
    overflow: hidden;
    background: url(../img_sub3/1606372127463_img.jpg) center center/cover;
    transition: 0.2s;
  }
  main section.sec1 div.container div.content1 div.ex1 div div.p1:hover {
    background: url(../img_sub3/1606369402646_img.jpg) center center/cover;
  }
  main section.sec1 div.container div.content1 div.ex1 div ul {
    width: 62%;
    padding: 0 5px 0 3vw;
  }
  main section.sec1 div.container div.content1 div.ex1 div ul li {
    padding: 3px 0 3px 20px;
    display: flex;
    align-items: flex-start;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    color: white;
    position: relative;
  }
  main section.sec1 div.container div.content1 div.ex1 div ul li::before {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 11px;
    left: -2px;
    background: url("../img_sub3/ico_check_w.png") left top no-repeat;
    background-size: 11px;
  }
  main section.sec1 div.container div.content1 div.ex2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
  main section.sec1 div.container div.content1 div.ex2 h3 {
    width: 100%;
    display: block;
    border-bottom: rgba(148, 144, 144, 0.6941176471) dashed 1px;
    height: auto;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.4px;
    color: white;
    margin: 30px 0;
  }
  main section.sec1 div.container div.content1 div.ex2 div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  main section.sec1 div.container div.content1 div.ex2 div div.p1 {
    width: 35%;
    height: 50vw;
    border-radius: 185px 185px 0 0;
    overflow: hidden;
    background: url(../img_sub3/1606369439690_img.jpg) center center/cover;
    transition: 0.2s;
  }
  main section.sec1 div.container div.content1 div.ex2 div div.p1:hover {
    background: url(../img_sub3/1606369439692_img.jpg) center center/cover;
  }
  main section.sec1 div.container div.content1 div.ex2 div ul {
    width: 62%;
    padding: 0 5px 0 15px;
  }
  main section.sec1 div.container div.content1 div.ex2 div ul li {
    padding: 3px 0 3px 20px;
    display: flex;
    align-items: flex-start;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    color: white;
    position: relative;
  }
  main section.sec1 div.container div.content1 div.ex2 div ul li::before {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 11px;
    left: -2px;
    background: url("../img_sub3/ico_check_w.png") left top no-repeat;
    background-size: 11px;
  }
  main section.sec1 div.container p.store {
    height: 30px;
    width: 100%;
    border-bottom: rgba(148, 144, 144, 0.6941176471) dashed 1px;
    margin: 65px 0 30px 0;
    padding: 0 0 20px 0;
    text-align: left;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
  }
  main section.sec1 div.container div.content2 {
    width: 100%;
    margin: 0 0 25px 0;
  }
  main section.sec1 div.container div.content2 ul {
    width: 100%;
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main section.sec1 div.container div.content2 ul li {
    width: 50%;
    padding: 3px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: white;
    position: relative;
    margin-bottom: 50px;
  }
  main section.sec1 div.container div.content2 ul li img {
    width: 75px;
    height: 75px;
  }
  main section.sec1 div.container div.content2 ul li p {
    text-align: center;
    padding-left: 5px;
    font-size: 10px;
    color: #8ab1aa;
  }
  main section.sec1 div.container div.content2 ul li p span {
    display: block;
    color: white;
    font-size: 10px;
    font-weight: bold;
  }
  main section.sec2 div.container {
    padding: 0 2px;
  }
  main section.sec2 div.container h2 {
    font-size: 23px;
  }
  main section.sec2 div.container div.content1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  main section.sec2 div.container div.content1 span.line1 {
    width: 55%;
    position: absolute;
    top: 70px;
    left: 22vw;
  }
  main section.sec2 div.container div.content1 span.line2 {
    width: 55%;
    height: 1px;
    position: absolute;
    top: 400px;
    left: 22vw;
  }
  main section.sec2 div.container div.content1 div.pro {
    width: 50%;
    position: relative;
  }
  main section.sec2 div.container div.content1 div.pro p {
    font-size: 13px;
    width: 90%;
  }
  main section.sec2 div.container div.content1 div.pro p span {
    font-size: 12px;
  }
  main section.sec2 div.container div.content1 div.pro ul {
    width: 80%;
  }
  main section.sec2 div.container div.content1 div.pro ul li {
    font-size: 10px;
    line-height: 25px;
    letter-spacing: -0.5px;
    padding-left: 7px;
  }
  main section.sec2 div.container div.content1 div.pro ul li::before {
    position: absolute;
    top: 9px;
    left: -8px;
  }
  main section.sec2 div.container div.content2 {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  main section.sec2 div.container div.content2 div.keypoint {
    width: 100%;
    line-height: 35px;
  }
  main section.sec2 div.container div.content2 ul.li1 {
    width: 100%;
    padding: 10px 10px 0 10px;
  }
  main section.sec2 div.container div.content2 ul.li1 li {
    padding: 1px 0 0 25px;
    font-size: 13px;
    margin-bottom: 10px;
  }
  main section.sec2 div.container div.content2 ul.li1 li::before {
    position: absolute;
    top: 5px;
    left: 0px;
    width: 14px;
    height: 14px;
    background-size: 14px;
  }
  main section.sec2 div.container div.content2 ul.li2 {
    padding: 15px 5px 0 5px;
  }
  main section.sec2 div.container div.content2 ul.li2 li {
    font-size: 11px;
    margin-bottom: 15px;
  }
  main section.sec3 div.container h2 {
    font-size: 23px;
  }
  main section.sec3 div.container div.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section.sec3 div.container div.content1 div.box1 {
    width: 98%;
  }
  main section.sec3 div.container div.content1 div.box1 p {
    padding: 20px 5px;
    font-size: 8px;
    line-height: 170%;
    height: auto;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
  }
  main section.sec3 div.container div.content1 div.box2 {
    width: 98%;
  }
  main section.sec3 div.container div.content1 div.box2 p {
    padding: 20px 5px;
    font-size: 8px;
    line-height: 170%;
    height: auto;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
  }
  main section.sec4 div.container h2 {
    font-size: 23px;
  }
  main section.sec4 div.container ul li {
    width: 47%;
  }
  main section.sec4 div.container ul li div.ex p {
    font-size: 13px;
  }
  main section.qna div.tab_menu {
    display: flex;
    justify-content: center;
  }
  main section.qna div.tab_menu ul.list {
    font-size: 11px;
    width: 230px;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-125px);
  }
  main section.qna div.tab_menu ul.list li a.btn {
    font-size: 12px;
  }
  main section.qna div.tab_menu div.container h2 {
    margin: 50px 0;
    padding: 0px 0 10px 0;
    font-size: 23px;
  }
  main section.qna div.tab_menu div.container .accordion {
    font-size: 12px;
    padding-left: 35px;
  }
  main section.qna div.tab_menu div.container .active, main section.qna div.tab_menu div.container .accordion:hover {
    font-weight: bold;
  }
  main section.qna div.tab_menu div.container .accordion::before {
    position: absolute;
    top: 18px;
    left: 5px;
  }
  main section.qna div.tab_menu div.container .accordion:after {
    transform: translateX(10px);
  }
  main section.qna div.tab_menu div.container .panel p {
    font-size: 11px;
    padding-left: 20px;
  }
  main section.qna div.tab_menu div.container .panel p::before {
    position: absolute;
    top: 20px;
    left: -6px;
  }
  .newspop .con {
    width: 70%;
  }
  .newspop .con .newsexit {
    width: 22px;
    height: 22px;
  }
  .newspop .con .wrap {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
  .newspop .con .wrap img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .newspop .con .wrap .newsnext {
    width: 15px;
    height: 20px;
    left: 106%;
  }
  .newspop .con .wrap .newsprev {
    width: 15px;
    height: 20px;
    left: -10%;
  }
  .newspop .con .ex {
    font-size: 11px;
  }
  .newspop .con .ex span {
    font-size: 12px;
  }
  .is_off {
    display: none;
  }
}/*# sourceMappingURL=sub3.css.map */