@font-face {
    font-family: 'aveir';
    src: url('./AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Broadway';
    src: url('./Broadway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poor Story';
    src: url('./PoorStory-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('./NotoSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}